html
  head
    title Yann Picard #{ title ? '- ' + title : null }
    style
      include /../public/css/style.css
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    include /_shared/header
    block content
    include /_shared/footer