extends /_shared/layout.pug

block content
  h1 Yann Picard
  h2 Lead developper @ Malou Food Marketing

  p I am a self-taught developper passionate about programming ever since I've discovered the field. My career is currently focused on web development even if I originally come from a more robotics oriented world. I am seeking a position either contributing to solving our society's arising privacy problematics or linked to a hardware product.

  p If you are a recruiter, you might want to check out my #[a(href="/work") professional experiences] first, then head over to my #[a(href="/projects") personal projects] section. You can dowload a pdf version of my resume #[a(href="/downloads?filename=resume.pdf" download="resume_yann_picard") here].

  p If you are located in the US, you might also be interested in the fact that I have the American citizenship and do not require any form of visa to work with you.

  p If you are interested in getting to know me better after reading some of this website's content, feel free to send me an email at yann.picard95@gmail.com. I would love to get to know you too.

  p #[code (Else)] Best,
  
  p Yann

  br

  p 
    i PS : if you are wondering where all the previous content available here went, it's gone. I decided to showcase fewer items to focus on what really mattered to me and improve this website's quality.