body {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
  font-size: 17px;
  line-height: 1.1;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
  background: #f5f5f5;
}

i {
  font-weight: 300;
}

h2:before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  /* rectangle */
  width: 1rem;
  height: 0.4rem;
  background: rgb(220, 0, 0);
  border-radius: 5px;
}

time {
  color: #888;
}

code {
  font-size: 14px;
}

.item {
  position: relative;
  padding-bottom: 0.5rem;
}

.item:after {
  content: "";
  height: 0.5px;
  position: absolute;
  display: block;
  left: 45%;
  width: 10%;
  background: #888;
}

.navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#footer {
  margin-top: 50px;
}

.fw {
  width: 100%;
}

table th {
  text-align: left;
}
