extends /_shared/layout.pug

block content
  h1 Professional experiences
  .item
    h2 Lead software developer, #[a(href="https://malou.io/?lang=en", target="_blank") Malou Food Marketing], Paris
    p 
      time April 2019 - current
    code NodeJS, Angular, AWS, Mongo, API integration, web scrapping at scale, TDD.
    
    ul
      //- li In charge of the entire in-house software development (technology stack, architecture, user experience, tests & stability, continuous integration & deployment, scalability).
      //- li Initiated, lead and implemented software solutions for critical business processes, increasing productivity throughout the organisation and unlocking business development opportunities.
      li Unlocked a <span class="results">productivity increase of 50%</span> per employee by developing SEO management software  for restaurants: allowed the company to support 20 new clients (+40%) without internal hiring.
      li Developed a sentiment analysis NLP algorithm to identify restaurant weaknesses based on their online reviews: <span class="results">observed 20% average increase in online visits and 10% additional monthly covers served</span>.

  .item
    h2 Software engineer, #[a(href="https://www.ekimetrics.com", target="_blank") Ekimetrics], Hong Kong
    p 
      time September 2018 - March 2019 (6 months)
    code Ruby on Rails, Angular, Mongo, AWS, microservices, legacy refactoring, TDD.
    ul
      //- li Refactored a 7 year old legacy tool to avoid losing a major client: reduced computation times by a 100, increased code test coverage from 0 to 80%, automated error reporting, facilitated maintenance with modular architecture and clear documentation, redesigned entire user experience.
      li Refactored a legacy tool used to support strategic decision-making processes for a worldwide leader in insurance across 40 countries: <span class="results">boosted performance up to 100x, brought test coverage to 80%, reduced email complaints by 100% which ultimately contributed to client’s contract renewal</span>.
      li Worked in full autonomy while in Hong Kong with both client and development team based in France.
      li Here is a #[a(href="/blog/mediatool") blog post] about my refactoring quest.
  .item
    h2 Full stack developer, #[a(href="https://www.ekimetrics.com", target="_blank") Ekimetrics], Paris
    p 
      time March 2017 - March 2019 (2 years)
    code Ruby on Rails, NodeJS, Flask, Angular, PostgreSQL, Mongo, AWS, Heroku.
    ul
      li <span class="results">Revolutionised digital marketing ROI measurement</span> by developing a real-time monitoring dashboard (Elasticsearch) to study social media reach of 20 brand influencers on 3B followers.
      li Developed a tool to monitor cosmetic sales ($670M) of 2000 products in 5 countries via automated data integration of 30 different data sources, providing a consolidated view of sales <span class="results">never seen before in the company</span>.
      //- li Improved C-level executives decision making processes with custom web applications focused on data analytics and visualizations.
      li Designed, developed, deployed and monitored over 10+ systems simultaneously running on different environments, used worldwide.
      li Reduced maintenance time by 10 hours per month per developer by bringing and implementing best practices into the development team: BDD, CI, documentation & better communication.
  .item
    h2 Continuous integration intern, #[a(href="https://www.heartflow.com", target="_blank") Heartflow], San Francisco
    p
      time February 2016 - April 2016 (2 months)
    code Python 3, git, phabricator.
    ul 
      li <span class="results">Increased weekly processed code reviews by 20%</span> by developing a continuous integration tool to improve GitHub productivity, deployed on Phabricator for 50 developers.

