extends /_shared/layout.pug

block content
  h1 Professional experiences
  .item
    h2 Lead software developer, #[a(href="https://malou.io", target="_blank") Malou Food Marketing], Paris
    p 
      time April 2019 - current
    code NodeJS, Angular, AWS, Mongo, API integration, web scrapping at scale, TDD.
    
    ul
      li In charge of the entire in-house software development (technology stack, architecture, tests & stability, continuous integration & deployment, scalability).
      li Initiated, lead and implemented software solutions for critical business processes, increasing productivity throughout the organisation and unlocking business development opportunities.
  .item
    h2 Software engineer, #[a(href="https://www.ekimetrics.com", target="_blank") Ekimetrics], Hong Kong
    p 
      time September 2018 - March 2019 (6 months)
    code Ruby on Rails, Angular, Mongo, AWS, microservices, legacy refactoring, TDD.
    ul
      li Refactored a 7 year old legacy tool to avoid losing a major client: reduced computation times by a 100, increased code test coverage from 0 to 80%, automated error reporting, facilitated maintenance with modular architecture and clear documentation.
      li Worked in full autonomy while in Hong Kong with both client and development team based in France.
      li Here is a #[a(href="/blog/mediatool") blog post] about my refactoring quest.
  .item
    h2 Full stack developer, #[a(href="https://www.ekimetrics.com", target="_blank") Ekimetrics], Paris
    p 
      time March 2017 - March 2019 (2 years)
    code Ruby on Rails, NodeJS, Flask, Angular, PostgreSQL, Mongo, AWS, Heroku.
    ul
      li Designed and developed custom web applications focused on data analytics and visualizations - aimed at making decision taking processes more efficient for C-level executives.
      li Implemented best practices into the development team: BDD, CI, documentation & better communication.
  .item
    h2 Continuous integration intern, #[a(href="https://www.heartflow.com", target="_blank") Heartflow], San Francisco
    p
      time February 2016 - April 2016 (2 months)
    code Python 3, git, phabricator.
    ul 
      li Improved continuous integration by developing a Phabricator module monitoring development KPIs.
