extends /_shared/layout.pug

block content

  h1 Blog
  ul 
    li #[a(href="/blog/mediatool") How I refactored a 7 year old legacy tool in 6 months] (2018)

  p Stuff I would like to write about :
  ul
    li Privacy in our society imagined by tech giants, and how Apple has been on this before everyone else.
    li Social media.
    li How working abroad changes you.