extends /_shared/layout.pug

block content
  .item
    h1 Education

    h2 #[a(href="https://www.u-tokyo.ac.jp/en/index.html", target="_blank") University of Tokyo (TODAI)], Japan
    time 2016
    p Master’s exchange student (GPA: 3.81) in the #[a(href="https://www.i.u-tokyo.ac.jp/index_e.shtml", target="_blank") Information Science and Technology] department.

    h2 #[a(href="https://www.imt-atlantique.fr/en", target="_blank") IMT Atlantique], France
    time 2014 - 2017
    p Master of Engineering: General Engineer (GPA: 3.40) with a major in computer science & robotics.

  .item
    h1 Certificates
    h2 Machine learning, #[a(href="https://www.coursera.org/account/accomplishments/verify/KEHNFXTG4SGT", target="_blank") Stanford & Coursera]
    time 2016
    p Classification, neural networks, deep learning.

    h2 IELTS
    time 2017
    p Score: 8.0/9